* {
    max-width: :0;
    padding: 0;
}

.box-form {
    width: 30%;
    min-height: 300px;
    border: 1px solid;
    margin: 5% auto;
}

.title-form {
    width: 100%;
    height: 30px;
    background-color: aqua;
    text-align: center;
    color: azure;
    line-height: 30px;
    font-size: 18px;
}

.constant-form {
    max-width: 100%;
    height: 300px;
    background-color: yellow;
    padding: 1%;
}

.contenconstant-form {
    width: 900%;
    height: 30px;
    background-color: aqua;
    padding-left: 1%;
    font-size: 17px;
    margin-bottom: 1%;
}